@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

#root .intro .intro-text h1{
    font-family: 'Creepster', cursive;

}
#root h1{
    font-family: 'Creepster', cursive;
}
#root div {
    font-family: 'Squada One', cursive;
}